html,
body {
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 3rem;

  font-size: 1.6rem;
  font-family: Lato, sans-serif;
  line-height: 1.6em;
}

.wrapper {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  position: relative;
  outline: 2px dashed magenta;
}

.morbido-target {
  padding: 3rem;
  transition: height 1.2s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.morbido-target.hide {
  opacity: 0;
}

* {
  box-sizing: border-box;
}
